{% extends "base.html" %}
{% load static %} {# {% staticを使うため必要 #}

{% block title %}
消火器
{% endblock title %}
{% block head %}
{% endblock head %}
{% block navbar %}
<nav class="navbar is-fixed-top is-black  is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <form class="navbar-item" action="" method="get">
      {{form.year}}
      <button type="submit" class="button is-primary is-size-7">表示</button>
    </form>
    {# ハンバーガアイコンのため #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarMainMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-start">
      {% comment %} <a class="navbar-item" href="{% url 'shoukaki:inspect' %}">点検消火器</a> {% endcomment %}
      {% comment %} <a class="navbar-item" href="{% url 'shoukaki:disposal' %}">廃棄消火器</a> {% endcomment %}
  </div>
  <div class="navbar-end">
    <a class="navbar-item" href="{% url 'shoukaki:list' %}">戻る</a>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container is-fluid">
  <div class="content">
    <h4>廃棄消火器一覧</h4>
    <ul>
      <li>蓄圧式で製造から5年を超え、10年以下の消火器はそのロットの10%を外観点検、5%を内供点検する。</li>
      <li>内部点検を省くため製造年を1年目として{{DISPOSAL_SHOUKAKI}}年を超える消火器は廃棄とする。</li>
    </ul>
  </div>
  <div class="table-container">
    <table class="table table_nowrap is-striped is-narrow">
      <thead>
        <tr>
          <th class="has-text-centered">No</th>
          <th class="has-text-centered">配置場所</th>
          <th class="has-text-centered">品番</th>
          <th class="has-text-centered">製造会社</th>
          <th class="has-text-centered">形式</th>
          <th class="has-text-centered">設置日</th>
          <th class="has-text-centered">最終点検</th>
          <th class="has-text-centered">製造年</th>
          <th class="has-text-centered">製造番号</th>
          <th class="has-text-centered">備考</th>
        </tr>
      </thead>
      <tbody>
        {% for list in shoukaki_list %}
        <tr>
          <td class="has-text-centered">{{forloop.counter}}</td>
          <td class="has-text-centered">{{list.location}}</td>
          <td class="has-text-centered">{{list.shoukaki.name}}</td>
          <td class="has-text-centered">{{list.shoukaki.maker}}</td>
          <td class="has-text-left">{{list.shoukaki.shoukaki_type}}</td>
          <td class="has-text-centered">{{list.installation_date|date:"Y-m"}}</td>
          <td class="has-text-centered">{{list.inspection_date|date:"Y-m"}}</td>
          <td class="has-text-centered">{{list.made_year}}</td>
          <td class="has-text-centered">{{list.made_no}}</td>
          <td class="has-text-left">{{ list.comment}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
</div>
{% endblock %}
