{# https://stackoverflow.com/questions/39123348/how-to-pass-a-queryset-from-django-to-javascript-function #}
{% extends "base.html" %}

{% block title %}
消火器データの登録
{% endblock title %}
{% block navbar %}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">【 SG 消火器 】</a>
    {# ハンバーガアイコンのため #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarMainMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMainMenu" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="javascript:void(0);" onclick="window.history.back();">戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}
<br>
{% block content %}
{# https://docs.djangoproject.com/ja/2.0/ref/contrib/messages/ #}
<div class="container is-fluid">
  <div class="content">
    <h3>消火器データの登録</h3>
  </div>
  <div class="columns">
    <form method='POST' enctype='multipart/form-data'>
      {{ form.non_field_errors }}
      {% for field in form %}
        <div class='field'>
          <div class='control'>
            <div class='label'>{{ field.label_tag }}</div>
            {% if field.help_text %}
              <span class='helptext'>{{ field.help_text }}</span>
            {% endif %}
            {{ field.errors }}
            <div class='my_field'>{{ field }}</div>
          </div>
        </div>
      {% endfor %}
      {% csrf_token %}
      <br>
      <div class='my_button has-text-centered'>
        <button type='submit' class='button is-primary is-size-7'>読込み</button>
        <a class='button is-danger is-size-7' href='javascript:void(0);' onclick='window.history.back();'>キャンセル</a>
      </div>
    </form>
  </div>
  <br>
</div>
{% endblock content %}