__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env_dev
.git
.gitignore
static/
media/
*.sqlite3

# 以下は一般的な
# OSが作成する不要なファイル
.DS_Store
Thumbs.db

# Pythonのビルド・配布用ディレクトリ
.vscode/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

# テストの結果やカバレッジ
htmlcov/
.tox/
.nosetests/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml
.coverage