#
# templateファイル
#
# 記述の注意点
#   1. 空白は除去する
#   2. compose.ymlで環境変数を使う場合は同じ階層に置けば自動読み込みする
#   3. settings.pyで.envを使う場合は、読み込みpathに注意する
# 

# dockerコンテナ作成ユーザは「id "ユーザ名"」で確認する
UID=
GID=

DEBUG=
SECRET_KEY=""
DB_NAME=""
ALLOWED_HOSTS=