{% extends "common/base.html" %}
{% block content %}
<div class="container is-fluid ">
  <br>
  <div class="content has-text-centered" id="form_style">
    <h3>{{user.username}}</h3>
  </div>
  <br>
  <form method='POST' enctype='multipart/form-data' id='form_style'>
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class='field'>
        <div class='control'>
          <div class='label'>{{ field.label_tag }}</div>
          <div class='my_field'>{{ field }}</div>
          {% if field.help_text %}
            <span class='helptext'>{{ field.help_text }}</span>
          {% endif %}
          {{ field.errors }}
        </div>
      </div>
    {% endfor %}
    {% csrf_token %}
    <br>
    <div class='content has-text-centered my_button'>
      <button type='submit' class='button is-danger'>送信</button>
      <a class="button is-dark" href="{% url 'register:mypage' %}">キャンセル</a>
    </div>
  </form>
</div>
{% endblock %}