{% extends "base.html" %}
{% load my_templatetags %}

{% block title %}
ヘルプ
{% endblock title %}
{% block navbar %}
{# https://bulma.io/documentation/components/navbar/ #}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">【SG川崎】</a>
    {# ハンバーガアイコンのため以下の5行とbase.htmlでのjsスクリプトが必要 #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <form class="navbar-item" action="{% url 'control:description'%}" method="get">
        {{form.title}}
        <button type="submit" class="button is-primary is-size-7">表示</button>
      </form>
    </div>
    <div class="navbar-end">
      {% if perms.plan.add_koujiname and qs.pk %}
        <a class="navbar-item" href="{% url 'control:description_update' qs.pk %}">修正</a>
        <a class="navbar-item" href="{% url 'control:description_delete' qs.pk %}">削除</a>
      {% endif %}
      <div class="navbar-item">
        <a class="button is-light is-size-7 has-text-weight-bold" href="{% url 'register:mypage' %}" >戻る</a>
      </div>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container is-fluid">
  <div class="content">
    {{qs.description|markdown_to_html}}
  </div>
</div>
{% endblock %}
