{% extends "base.html" %}
{% comment %} {% load humanize %}
{% load static %} {% endcomment %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="content has-text-centered is-size-6">
    <h4>下記のデータを削除しますか？</h4>
  </div>
  <form action="" method="POST" enctype='multipart/form-data'>
    <div class="table-container">
      <table class="table table_center_nowrap is-narrow is-striped is-bordered">
        <tr>
          <td class="has-text-centered">タイトル</td>
          <td class="has-text-left">{{description.title}}</td>
        </tr>
        <tr>
          <td class="has-text-centered">作成日</td>
          <td class="has-text-left">{{description.created_date|date:'Y-m-d'}}</td>
        </tr>
      </table>
    </div>

    <div class="content has-text-centered is-size-6">
      <br>
      <button type="submit" class="button is-danger">削除する</button>
      <a class='button is-primary' href='javascript:void(0);' onclick='window.history.back();'>やめる</a>
    </div>
    {% csrf_token %}
  </form>
</div>
{% endblock %}
