{% extends "common/base.html" %}
{% load static %}
{% load facility_extras %}
{% load humanize %}

{% block title %}
バイク置場月次処理
{% endblock title %}
{% block head %}
{% endblock head %}
{% block navbar %}
<nav class="navbar is-fixed-top is-black  is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item" >【月次処理】</div>
    {# ハンバーガアイコンのため #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarMainMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMainMenu" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="{% url 'motorcycle:list' %} ">戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<!-- メッセージフレームワーク -->
{% if messages %}
<div class="container" style="margin-top:1rem;">
  <div class="notification is-info">
    <button class="delete" type="button"></button>
    {% for message in messages %}
    <p> {{ message }}</p>
    {% endfor %}
  </div>
</div>
{% endif %}}
<br>
<div class="container is-fluid">
  <div class="content">
    <h4>{{title}} バイク置場 月次処理</h4>
    <form method='POST' enctype="multipart/form-data">
      {% csrf_token %}
      <table>
      {{form}}
      </table>
      <button type="submit" class="button is-primary">開始</button>
      <a class="button is-danger" href="javascript:void(0);" onclick="window.history.back();">戻る</a>
    </form>
  </div>
  <br>
  <div class="table-container">
    <table class="table table_nowrap is-striped is-narrow ">
      <thead>
        <tr>
          <th class="has-text-centered">年月</th>
          <th class="has-text-centered">空きバイク置場</th>
        </tr>
      </thead>
      <tbody>
        {% for d in list %}
        <tr>
          <td class="has-text-centered">{{d.date}}</td>
          <td class="has-text-centered">{{d.count}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
  </div>
</div>
{% endblock %}
