{% extends "base.html" %}
{% load static %}
{% load my_templatetags %}
{% load humanize %}

{% block title %}
バイク置場 一覧
{% endblock title %}
{% block head %}
{% endblock head %}
{% block navbar %}
<nav class="navbar is-fixed-top is-black  is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">【SG川崎】</a>
    {# ハンバーガアイコンのため #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarMainMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMainMenu" class="navbar-menu">
    <div class="navbar-start">
      <form class="navbar-item" action="{% url 'motorcycle:list'%}" method="get">
        {{form.year}}{{form.month}}
        <button type="submit" class="button is-primary is-size-7">表示</button>
      </form>
    </div>
    <div class="navbar-end">
      {% if perms.parking.add_parkingspace %}
        <a class="navbar-item" href="{% url 'motorcycle:monthly_process' %}">月次処理</a>
      {% endif %}
      <a class="navbar-item" href="{% url 'register:facility' %}">【戻る】</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container is-fluid">
  <div class="content">
    <h4>{{title}} バイク置場 (利用状況 = {{count_use}}/{{count_all}})</h4>
  </div>
  <div class="table-container">
    <table class="table table_nowrap is-striped is-narrow">
      <thead>
        <tr>
          <th class="has-text-centered">バイク置場No</th>
          <th class="has-text-centered">部屋番号</th>
          <th class="has-text-centered">状況</th>
          <th class="has-text-centered">備考</th>
        </tr>
      </thead>
      <tbody>
        {% for list in motorcycle_list %}
        <tr>
          {% if perms.parking.add_parkingspace %}
            <td class="has-text-centered">
              <a href="{% url 'motorcycle:update' list.pk %}">{{list.no}}</a>
            </td>
          {% else %}
            <td class="has-text-centered">{{list.no}}</td>
          {% endif %}
          <td class="has-text-centered">{{list.room_no}}</td>
          <td class="has-text-centered">{{list.status_of_use}}</td>
          <td class="has-text-right">{{list.comment|default_if_none:''}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
</div>
{% endblock %}
