{% extends "common/base.html" %}
{% load static %}
{% load facility_extras %}
{% load humanize %}

{% block title %}
駐輪場 一覧
{% endblock title %}
{% block head %}
{% endblock head %}
{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {# ハンバーガアイコンのため #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarMainMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMainMenu" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <form action="" method="get">
          <div class="field has-addons">
            <div class="control"> {{form.year}} </div>
            <!-- bulmaのselect要素はnavbar内では少し特殊なようだ -->
            <div class="control"> <div class="select is-small"> {{form.month}} </div></div>
            <div class="control">
              <button type="submit" class="button is-primary is-small">表示</button>
            </div>
          </div>
        </form>
      </div>
      {% if perms.parking.add_parkingspace %}
        <a href="{% url 'bicycle:incomelist' %}" class="navbar-item">収入履歴</a>
        <a class="navbar-item" href="{% url 'bicycle:roomlist' %}">住戸別駐輪場</a>
        <a class="navbar-item" href="{% url 'bicycle:contract_num' %}">住戸別契約数</a>
        <a class="navbar-item" href="{% url 'bicycle:translator_test' %}">translator_test</a>
      {% endif %}
    </div>
    <div class="navbar-end">
      {% if perms.parking.add_parkingspace %}
        <a class="navbar-item" href="{% url 'bicycle:monthly_process' %}">月次処理</a>
      {% endif %}
      <a class="navbar-item" href="{% url 'register:facility' %}">戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<!-- メッセージフレームワーク -->
{% if messages %}
<div class="container" style="margin-top:1rem;">
    <div class="notification is-info">
        <button class="delete" type="button"></button>
        {% for message in messages %}
        <p> {{ message }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}
<br>
<div class="container is-fluid">
  <div class="content has-text-centered">
    <h4>{{title}} 駐輪場 利用状況</h4>
    {% if perms.parking.add_parkingspace %}
      <p>使用料合計 {{total|intcomma}}円</p>
    {% endif %}
  </div>
  <div class='columns'>
    <div class='column is-3'>
      <div class="content has-text-centered">
        <h5>平置き1〜45</h5>
      </div>
      <div class="table-container">
        <table class="table table_center_nowrap is-striped is-narrow">
          <thead>
            <tr>
              <th class="has-text-centered">No</th>
              {% if perms.parking.add_parkingspace %}
                <th class="has-text-centered">室番</th>
              {% else %}
                <th class="has-text-centered">場所</th>
              {% endif %}
              <th class="has-text-centered">状況</th>
            </tr>
          </thead>
          <tbody>
            {% for list in space1 %}
            <tr>
              {% if perms.parking.add_parkingspace %}
                <td class="has-text-centered">
                  <a href="{% url 'bicycle:update' list.3 %}">{{list.0}}</a>
                </td>
                <td class="has-text-centered">{{list.4}}</td>
              {% else %}
                <td class="has-text-centered">{{list.0}}</td>
                <td class="has-text-centered">{{list.1}}</td>
              {% endif %}
              {% if list.2 == '空き' %}
                <td class="has-text-centered"></td>
              {% else %}
                <td class="has-text-centered">{{list.2}}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class='column is-3'>
      <div class="content has-text-centered">
        <h5>棟前101〜227</h5>
      </div>
      <div class="table-container">
        <table class="table table_center_nowrap is-striped is-narrow">
          <thead>
            <tr>
              <th class="has-text-centered">No</th>
              {% if perms.parking.add_parkingspace %}
                <th class="has-text-centered">室番</th>
              {% else %}
                <th class="has-text-centered">場所</th>
              {% endif %}
              <th class="has-text-centered">状況</th>
            </tr>
          </thead>
          <tbody>
            {% for list in space2 %}
            <tr>
              {% if perms.parking.add_parkingspace %}
                <td class="has-text-centered">
                  <a href="{% url 'bicycle:update' list.3 %}">{{list.0}}</a>
                </td>
                <td class="has-text-centered">{{list.4}}</td>
              {% else %}
                <td class="has-text-centered">{{list.0}}</td>
                <td class="has-text-centered">{{list.1}}</td>
              {% endif %}
              {% if list.2 == '空き' %}
                <td class="has-text-centered"></td>
              {% else %}
                <td class="has-text-centered">{{list.2}}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
    <div class='column is-3'>
      <div class="content has-text-centered">
        <h5>棟東301〜416</h5>
      </div>
      <div class="table-container">
        <table class="table table_center_nowrap is-striped is-narrow">
          <thead>
            <tr>
              <th class="has-text-centered">No</th>
              {% if perms.parking.add_parkingspace %}
                <th class="has-text-centered">室番</th>
              {% else %}
                <th class="has-text-centered">場所</th>
              {% endif %}
              <th class="has-text-centered">状況</th>
            </tr>
          </thead>
          <tbody>
            {% for list in space3 %}
            <tr>
              {% if perms.parking.add_parkingspace %}
                <td class="has-text-centered">
                  <a href="{% url 'bicycle:update' list.3 %}">{{list.0}}</a>
                </td>
                <td class="has-text-centered">{{list.4}}</td>
              {% else %}
                <td class="has-text-centered">{{list.0}}</td>
                <td class="has-text-centered">{{list.1}}</td>
              {% endif %}
              {% if list.2 == '空き' %}
                <td class="has-text-centered"></td>
              {% else %}
                <td class="has-text-centered">{{list.2}}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
    <div class='column is-3'>
      <div class="content has-text-centered">
        <h5>棟北501〜592</h5>
      </div>
      <div class="table-container">
        <table class="table table_center_nowrap is-striped is-narrow">
          <thead>
            <tr>
              <th class="has-text-centered">No</th>
              {% if perms.parking.add_parkingspace %}
                <th class="has-text-centered">室番</th>
              {% else %}
                <th class="has-text-centered">場所</th>
              {% endif %}
              <th class="has-text-centered">状況</th>
            </tr>
          </thead>
          <tbody>
            {% for list in space4 %}
            <tr>
              {% if perms.parking.add_parkingspace %}
                <td class="has-text-centered">
                  <a href="{% url 'bicycle:update' list.3 %}">{{list.0}}</a>
                </td>
                <td class="has-text-centered">{{list.4}}</td>
              {% else %}
                <td class="has-text-centered">{{list.0}}</td>
                <td class="has-text-centered">{{list.1}}</td>
              {% endif %}
              {% if list.2 == '空き' %}
                <td class="has-text-centered"></td>
              {% else %}
                <td class="has-text-centered">{{list.2}}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
</div>
{% endblock %}
