{# https://stackoverflow.com/questions/39123348/how-to-pass-a-queryset-from-django-to-javascript-function #}
{% extends "base.html" %}

{% block title %}
駐輪場データ修正
{% endblock title %}

{% block content %}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">【SG川崎】</a>
    {# ハンバーガアイコンのため #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarMainMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMainMenu" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <a href="{% url 'bicycle:list' %}" class="navbar-item">戻る</a>
    </div>
  </div>
</nav>
<!-- メッセージフレームワーク -->
{% if messages %}
<div class="container" style="margin-top:1rem;">
    <div class="notification is-info">
        <button class="delete" type="button"></button>
        {% for message in messages %}
        <p> {{ message }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}}
<div class="container is-fluid">
  <form method='POST' enctype='multipart/form-data'>
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class='field'>
        <div class='control'>
          <div class='label'>{{ field.label_tag }}</div>
          {% if field.help_text %}
            <span class='helptext'>{{ field.help_text }}</span>
          {% endif %}
          {{ field.errors }}
          <div class='my_field'>{{ field }}</div>
        </div>
      </div>
    {% endfor %}
    {% csrf_token %}
    <br>
    <div class='my_button has-text-centered'>
      <button type='submit' class='button is-primary is-size-7'>登録</button>
      <a class='button is-danger is-size-7' href="{% url 'bicycle:list' %}">戻る</a>
    </div>
  </form>
</div>
{% endblock content %}
