{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# favicon #}
  <link rel="icon" type="image/svg+xml" href="{% static 'common/favicon.svg' %}">
  <link rel="icon" href="{% static 'common/favicon.ico' %}" sizes="any">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'common/apple-touch-icon.png' %}">
  <title>
  {% block title %}
    設備管理
  {% endblock %}
  </title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <main>
  {% block content %}
  {% endblock %}
  </main>
</body>
</html>
