{% extends "base.html" %}
{% load static %}
{% load my_templatetags %}
{% load humanize %}

{% block title %}
駐車場 管理
{% endblock title %}
{% block head %}
{% endblock head %}
{% block navbar %}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item" >【駐車場 管理】</div>
    {# ハンバーガアイコンのため #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarMainMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMainMenu" class="navbar-menu">
    <div class="navbar-start">
      {% if not update %}
        <div class="navbar-item">
          <form class="navbar-item" action="" method="get">
            {{form.year}}{{form.month}}{{form.parking_type}}
            <button type="submit" class="button is-primary is-size-7">表示</button>
          </form>
        </div>
      {% endif %}
    </div>
    <div class="navbar-end">
      {% comment %} 月次処理はmanager {% endcomment %}
      {% if perms.parking.add_parkingspace %}
        <a class="navbar-item" href="{% url 'parking:export_parkingfee' title %}">駐車場データ出力</a>
        <a class="navbar-item" href="{% url 'parking:monthly' %}">月次処理</a>
      {% endif %}
    <a class="navbar-item" href="{% url 'parking:list' %}">【戻る】</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<!-- メッセージフレームワーク -->
{% if messages %}
<div class="container" style="margin-top:1rem;">
  <div class="notification is-info">
    <button class="delete" type="button"></button>
    {% for message in messages %}
    <p> {{ message }}</p>
    {% endfor %}
  </div>
</div>
{% endif %}
<br>
<div class="containere is-fluid">
  <div class="content">
    <h4>管理者用 {{title}} 現在 駐車場 利用状況</h4>
  </div>
  <div class="table-container">
    <table class="table table_nowrap is-striped is-narrow">
      <thead>
        <tr>
          <th class="has-text-centered">駐車場No</th>
          <th class="has-text-centered">タイプ</th>
          <th class="has-text-centered">利用状況</th>
          <th class="has-text-centered">部屋番号</th>
          <th class="has-text-centered">氏名</th>
          <th class="has-text-centered">使用料</th>
          <th class="has-text-centered">備考</th>
          <th class="has-text-centered">修正</th>
        </tr>
      </thead>
      <tbody>
        {% for list in parking_list %}
        <tr>
          <td class="has-text-centered">{{list.no}}</td>
          <td class="has-text-centered">{{list.parking_type}}</td>
          {% if list.status_of_use == '予約中' or list.status_of_use == '解約予定' %}
            <td class="has-text-centered has-text-weight-bold has-text-danger">
          {% else %}
            <td class="has-text-centered">
          {% endif %}
          {{list.status_of_use}}
          </td>
          <td class="has-text-right">{{list.room_number}}</td>
          {% if list.name is None %}
          <td class="has-text-centered"></td>
          {% else %}
          <td class="has-text-centered">{{list.name}}</td>
          {% endif %}
          {% if list.status_of_use == '使用中' or list.status_of_use == '解約予定' %}
            <td class="has-text-right">{{list.parking_type.rent_fee|intcomma}}</td>
          {% else %}
            <td class="has-text-right has-text-danger">-----</td>
          {% endif %}
          <td class="has-text-left">{{list.comment}}</td>
          <td>
            <a href="{% url 'parking:update' list.pk %}" class="button is-small is-primary has-text-black">
            修正
            </a>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="has-text-right">{{total|intcomma}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
</div>
{% endblock %}
