{% extends "base.html" %}
{% load static %}
{% load my_templatetags %}
{% load humanize %}
{% load static %} {# {% static  を使うため必要 #}

{% block title %}
駐車場稼働率
{% endblock title %}
{% block head %}
{% endblock head %}
{% block navbar %}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <form class="navbar-item" action="" method="get">
      {{form.year}}{{form.month}}
      <button type="submit" class="button is-primary is-size-7">表示</button>
    </form>
    {# ハンバーガアイコンのため #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarMainMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMainMenu" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="{% url 'parking:list' %}">戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container is-fluid">
  <div class="content">
    <h4>{{title}}</h4>
    <ul>
      <li>ゴミ置き場側の機械式下段駐車場の11台は使用中止（埋め戻し予定） </li>
    </ul>
  </div>
  <div class="table-container">
    <table class="table table_nowrap is-striped is-narrow">
      <thead>
        <tr>
          <th class="has-text-centered">場所</th>
          <th class="has-text-centered">区画数</th>
          <th class="has-text-centered">使用中</th>
          <th class="has-text-centered">空き</th>
          <th class="has-text-centered">稼働率</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="has-text-centered">{{plain.name}}</td>
          <td class="has-text-right">{{plain.total}} 台</td>
          <td class="has-text-right">{{plain.empty}} 台</td>
          <td class="has-text-right">{{plain.used}} 台</td>
          <td class="has-text-right">{{plain.rate}} %</td>
        </tr>
        <tr>
          <td class="has-text-centered">{{machine_up.name}}</td>
          <td class="has-text-right">{{machine_up.total}} 台</td>
          <td class="has-text-right">{{machine_up.empty}} 台</td>
          <td class="has-text-right">{{machine_up.used}} 台</td>
          <td class="has-text-right">{{machine_up.rate}} %</td>
        </tr>
        <tr>
          <td class="has-text-centered">{{machine_down.name}}</td>
          <td class="has-text-right">{{machine_down.total}} 台</td>
          <td class="has-text-right">{{machine_down.empty}} 台</td>
          <td class="has-text-right">{{machine_down.used}} 台</td>
          <td class="has-text-right">{{machine_down.rate}} %</td>
        </tr>
        <tr> 
          <td class="has-text-centered">合計</td>
          <td class="has-text-right">{{plain.total|add:machine_up.total|add:machine_down.total}} 台</td>
          <td class="has-text-right">{{plain.used|add:machine_up.used|add:machine_down.used}} 台</td>
          <td class="has-text-right">{{plain.empty|add:machine_up.empty|add:machine_down.empty}} 台</td>
          <td class="has-text-right">{{overall_rate}} %</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
</div>
<br>
{% endblock %}
