{# https://stackoverflow.com/questions/39123348/how-to-pass-a-queryset-from-django-to-javascript-function #}
{% extends "common/base.html" %}
{% load humanize %} {# 3桁区切りのため追加 #}
{% load static %} {# {% static  を使うため必要 #}
{% load facility_extras %}

{% block title %}
個別工事支出
{% endblock title %}

{% block head %}
{# javascriptファイルを取り込む #}
<!--<script src='{% static 'js/moment-with-locales.js' %}'></script>-->
{% endblock head %}

{% block navbar %}
<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'register:mypage' %}">【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <form action="" method="get">
          <div class="field has-addons">
            <!-- bulmaのselect要素はnavbar内では少し特殊なようだ -->
            <div class="control"> <div class="select is-small"> {{form.account_type}} </div></div>
            <div class="control"> <div class="select is-small"> {{form.kouji_type}} </div></div>
            <div class="control"> <div class="select is-small"> {{form.year}} </div></div>
            <div class="control">
              <button type="submit" class="button is-primary is-small">表示</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="navbar-end">
      <a href="{% url 'register:repair_plan' %}" class="navbar-item">戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container is-fluid">
  <br>
  <div class="content">
    <h4>工事リスト</h4>
  </div>
  <div class="table-container">
    <table class="table table_nowrap is-narrow">
      <thead>
        <tr class="has-background-grey-lighter">
          <th class="has-text-centered">期</th>
          <th class="has-text-centered">西暦</th>
          <th class="has-text-centered">月</th>
          <th class="has-text-centered">工事名</th>
          {% if perms.repair_plan.add_koujiname %}
            <th class="has-text-centered">工事金額</th>
          {% endif %}
          {% if perms.parking.view_parkingspace %}
            <th class="has-text-centered">施工業者</th>
          {% endif %}
          {% if perms.repair_plan.add_koujiname %}
            <th class="has-text-centered">備考</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for rireki in rirekilist %}
        <tr>
          <td class="has-text-centered">{{rireki.year|add:start_year}}</td>
          <td class="has-text-centered">{{rireki.year}}</td>
          <td class="has-text-centered">{{rireki.month}}</td>
          <td class="has-text-left">{{rireki.koujimei}}</td>
          {% if perms.repair_plan.add_koujiname %}
            <td class="has-text-right">{{rireki.cost|intcomma}}</td>
          {% endif %}
          {% if perms.parking.view_parkingspace %}
            <td class="has-text-left is-size-7">{{rireki.constractor}}</td>
          {% endif %}
          {% if perms.repair_plan.add_koujiname %}
            <td class="has-text-left is-size-7">{{rireki.comment|markdown_to_html}}</td>
          {% endif %}
        </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          {% if perms.repair_plan.add_koujiname %}
            <td class="has-text-right">合計</td>
            <td class="has-text-right">{{total|intcomma}}</td>
          {% endif %}
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
</div>
{% endblock content %}
